@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 249, 250, 251;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer base {
  * {
    @apply border-gray-200;
  }
}
